/* * forgot password */
.forgot-password-desc {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #363636 !important;
  /* padding: 20px 0 !important; */
}
