.terms-content-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
  
    /* main */
  
    color: #f1a002;
  }
  .terms-content-desc {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 147.19%;
    /* or 26px */
  
    /* typo color */
  
    color: #363636;
  }