* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* react select  */
.css-1u9des2-indicatorSeparator {
  display: none !important;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
.product-card-btn {
  border: none;
  background-color: transparent;
}
.btn-border-r {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.active {
  color: #f1a002;
}
.gap-15 {
  gap: 15px;
}
.gap-5 {
  gap: 5px;
}
.bg-main-color {
  background-color: #f1a002;
}
.text-main-color {
  color: #f1a002;
}
.text-second-color {
  color: #646464;
}
.menu-line {
  border-right: 1px #bcbcbc solid;
}
.nav-link-style {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}
.world-icon-btn {
  border: none;
  background-color: transparent;
}
a:hover {
  color: #646464;
}
.home-category img {
  height: 474px;
}
.nav-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 54px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* * Categories */

/*  * products */
.section-heading-start {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.heading-start-line {
  margin-bottom: 6px;
  width: 75px;
  height: 1px;
  background-color: #f1a002;
}

/* *master layout */
.master-layout {
  margin: 25px 0 88px 0;
}

/*  * footer */
footer {
  background-color: #f4f4f4;
}
.footer-line {
  border-top: 2px solid rgba(58, 58, 58, 0.1);
}
.footer-input {
  width: 220px;
  padding: 15px 5px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer-input::placeholder {
  color: #d6d6d6;
}

.footer-top {
  padding: 100px 0;
}
