* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-carousel .react-multiple-carousel__arrow--right {
  right: calc(-1% + 1px) !important;
  top: calc(25% + 1px) !important;
}
.container-carousel {
  /* background-color: red; */
  width: 83%;
  margin: auto;
}
.container-carousel .react-multiple-carousel__arrow--left {
  left: calc(-1% + 1px) !important;
  top: calc(25% + 1px) !important;
}
.container-carousel .react-multiple-carousel__arrow:hover {
  background-color: transparent;
}
.container-carousel .react-multiple-carousel__arrow {
  background-color: transparent !important;
  min-width: 30px !important;
  min-height: 56px !important;
}
.container-carousel .react-multiple-carousel__arrow::before {
  font-size: 22px !important;
  color: #000000 !important;
}

/* * product details carousel */
.product-details-carousel .react-multiple-carousel__arrow--right {
  right: 10px !important;
  top: 35px !important;
}
.product-details-carousel .react-multiple-carousel__arrow--left {
  left: 1050px !important;
  top: 35px !important;
}
.product-details-carousel .react-multi-carousel-list {
  height: 600px !important;
  overflow-y: visible !important;
  overflow-x: hidden !important;
}
.product-details-carousel .react-multiple-carousel__arrow {
  min-width: 24px !important;
  min-height: 24px !important;
  background-color: transparent !important;
}
.product-details-carousel .react-multiple-carousel__arrow--right {
  color: #292d32 !important;
  border: 2px solid #292d32 !important;
}
.product-details-carousel .react-multiple-carousel__arrow--left {
  color: #f1a002 !important;
  border: 2px solid #f1a002 !important;
}
.product-details-carousel .react-multiple-carousel__arrow::before {
  font-size: 10px !important;
  font-weight: bold !important;
}
.product-details-carousel .react-multiple-carousel__arrow--right::before {
  color: #292d32 !important;
}
.product-details-carousel .react-multiple-carousel__arrow--left::before {
  color: #f1a002 !important;
}
/* .product-details-carousel .react-multiple-carousel__arrow::before {
  font-size: 10px !important;
} */

/* * range slider */
.multi-range-slider {
  border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -ms-border-radius: 24px !important;
  -o-border-radius: 24px !important;
}
.multi-range-slider .bar-right,
.bar-inner,
.bar-left {
  height: 4px !important;
  padding: 0px !important;
  background: #d9d9d9 !important;
}
.bar-inner {
  border: none !important;
}
.multi-range-slider .thumb::before {
  border: none !important;
  width: 14px !important;
  height: 14px !important;
  box-shadow: none !important;
  margin: -5px -6px !important;
}
.multi-range-slider .caption {
  display: none !important;
}
/* ^ react select */
.css-13cymwt-control {
  min-height: 60px !important;
  border: 1px solid #a0a0a0 !important;
  margin-bottom: 40px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.css-t3ipsp-control {
  min-height: 60px !important;
  border: 1px solid #a0a0a0 !important;
  margin-bottom: 40px !important;
  box-shadow: 0 0 0 1px #f1a002 !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
/* * swiper  */
/* .swiper-button-next:after {
  color: red !important;
  margin-bottom: 450px !important;
} */

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
.btn-border-r {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.active {
  color: #f1a002;
}
.gap-15 {
  gap: 15px;
}
.gap-5 {
  gap: 5px;
}
.bg-main-color {
  background-color: #f1a002;
}
.text-main-color {
  color: #f1a002;
}
.text-second-color {
  color: #646464;
}
.menu-line {
  border-right: 1px #bcbcbc solid;
}
.nav-link-style {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}
a:hover {
  color: #646464;
}
.home-category img {
  height: 474px;
}
.nav-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 54px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* * Categories */
.category-title {
  font-size: 45px;
}

.category-card-header {
  margin: 0px 20px;
}
.category-card {
  background-color: transparent;
}
.category-image {
  background-color: transparent;
}
.category-discount {
  font-size: 55px;

  line-height: 1.2;
}
.discount-info {
  background-color: #f4f4f4;
}
.discount-code {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
.discount-info h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.discount-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
/*  * products */
.section-heading-start {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.heading-start-line {
  margin-bottom: 6px;
  width: 75px;
  height: 1px;
  background-color: #f1a002;
}
.product-card {
  padding: 15px;
  background-color: #f4f4f4;
}

.product-category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.before-price {
  color: #a0a0a0;
  font-size: 16px;
}
.product-price {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.product-btn {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.wishlist-icon {
  top: 3%;
  right: 5%;
}
.product-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d13b3b;
  width: 48px;
  height: 55px;
  top: 0;
  left: 0;
  border-radius: 0px 0px 20px;
  -webkit-border-radius: 0px 0px 20px;
  -moz-border-radius: 0px 0px 20px;
  -ms-border-radius: 0px 0px 20px;
  -o-border-radius: 0px 0px 20px;
}
.product-sale-text {
  font-size: 16px;
  font-weight: 500;
}
/* * our categories  */
.category-name {
  font-size: 18px;
}
.num-of-products {
  font-size: 14px;
}
.category-name,
.num-of-products {
  color: #000000;
}
/* * mask */
.mask {
  margin: auto;
  width: 80vw;
  height: 40vh;
  background-image: url("../src/images/mask/Mask\ group.jpg");

  background-size: cover;
}

.mask-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 40vh;
  background: linear-gradient(
    269.92deg,
    rgba(217, 217, 217, 0) 0.1%,
    rgba(217, 217, 217, 0.2) 36.13%,
    rgba(217, 217, 217, 0) 78.18%
  );
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */
}
.mask-info h3 {
  font-size: 48px;
}
.collection-link {
  font-size: 30px;
  font-weight: 600;
}
.collection-link:hover {
  color: #f1a002;
}
/* * Our features */
.features {
  background-color: #fafafa;
  padding: 35px;
}
.feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.feature-title {
  font-size: 18px;
}
.feature-desc {
  font-size: 12px;
}
.heading-center-line {
  margin-bottom: 6px;
  width: 75px;
  height: 1px;
  background-color: #f1a002;
}
.heading-center-title {
  position: relative;
  color: #363636;
}
.heading-center-title::after {
  content: " ";
  background-color: #f1a002;
  width: 75px;
  height: 1px;
  position: absolute;
  top: 55%;
  left: 33%;
}
.heading-center-title::before {
  content: " ";
  background-color: #f1a002;
  width: 75px;
  height: 1px;
  position: absolute;
  top: 55%;
  right: 33%;
}
.heading-center-brands {
  position: relative;
  color: #363636;
}
.heading-center-brands::after {
  content: " ";
  background-color: #f1a002;
  width: 75px;
  height: 1px;
  position: absolute;
  top: 55%;
  left: 36%;
}
.heading-center-brands::before {
  content: " ";
  background-color: #f1a002;
  width: 75px;
  height: 1px;
  position: absolute;
  top: 55%;
  right: 36%;
}
/* * testimonial */
.testimonial-card {
  background-color: #fafafa;
  padding: 30px 0 30px 30px;
}
.review-name {
  font-size: 24px;
}
.card-desc {
  font-size: 12px;
}
.testimonial-card-rating {
  margin: -12px 0;
}

/* *Categories */
.categories-image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.categories-info {
  padding: 40px;
  width: 30%;
  top: 29.5%;
  right: 18%;
}
.categories-info h2 {
  font-size: 64px;
  font-weight: 600;
}
.categories-info h3 {
  font-size: 48px;
  font-weight: 400;
}
.categories-info p {
  font-weight: 400;
  font-size: 16px;
  color: #858585;
}

.filters {
  background-color: #fafafa;
  width: 339px;
}
.filter-content {
  padding: 20px 35px;
}
.filter-title {
  font-size: 20px;
  font-weight: 500;
  color: #f1a002;
}
.filter-card {
  border-bottom: 1px solid #c2c2c2;
}
.filter-card ul {
  list-style: none;
  cursor: pointer;
}
.filter-card ul li {
  font-size: 16px;
  font-weight: 500;
  color: #363636;
  line-height: 30px;
}
.product-categories-image img {
  /* width: 268px; */
  width: 100%;
  height: 217px;
}
.product-categories-details {
  width: 100%;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(192, 192, 192, 0.1);
}

.filter-color-btn {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.filter-size-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
  border: 1px solid #000000;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 120.19%;

  letter-spacing: 0.05em;

  color: #363636;
}
.tick-icon {
  width: 35px;
  height: 35px;
}
.pagination-heading {
  display: flex;
  justify-content: center;
  padding: 15px 0 0 157px;
}
.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 272px !important;
  height: 32px !important;
  /* margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px; */
}
.pagination .page-num {
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #212b36;
  background: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
}
.pagination .page-icon {
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #c4cdd5;
  background: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
}

.pagination .active {
  border: 1px solid #f1a002;
  /* background-color: #5a818b; */
  color: #f1a002;
}
/* *about page */
.about-desc {
  font-size: 18px;
  color: #646464;
}
.why-choose {
  background-color: #fafafa;
}
.client-name {
  font-size: 16px;
}
.card-client-desc {
  font-size: 18px;
  color: #646464;
}
.client-card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(189, 189, 189, 0.15);
  padding: 10px 0 15px 30px;
}

/* *Contact */
.contact-desc {
  color: #646464;
  font-size: 18px;
  font-weight: 400;
  line-height: 147.19%;
}
.contact-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(208, 208, 208, 0.35);
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.contact-card h3 {
  font-size: 20px;
}
.contact-card p {
  font-size: 18px;
  text-align: center;
  color: #646464;
}
.contact-label {
  font-size: 20px;
  font-weight: 400;
}
.contact-input {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}
.contact-input:focus {
  box-shadow: none;
}
textarea {
  resize: none;
}
.contact-btn {
  padding: 15px 170px !important;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* *Login */
.login-content {
  margin-top: 86px;
}
.login-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #4a4844;
}
.login-desc {
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #949494;
}
.login-info {
  padding-right: 80px;
}
.login-icons {
  padding: 25px 0;
  margin-right: 20px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.or-line {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #c4c4c4;
  position: relative;
}
.or-line::before {
  content: "";
  position: absolute;
  width: 191px;
  height: 1px;
  left: 10px;
  bottom: 5px;

  background-color: #e6e6e6;
}
.or-line::after {
  content: " ";
  position: absolute;
  width: 191px;
  height: 1px;
  right: 10px;
  bottom: 5px;

  background-color: #e6e6e6;
}
.login-input {
  padding: 15px 15px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.login-input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  color: #c4c4c4;
}
.login-form label {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4a4844;
}
.login-form-header {
  margin-bottom: 30px;
}
.login-input-check {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
}
.label-input-check {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4a4844;
}
.login-btn {
  width: 90%;
  padding: 13px 0;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.login-link-desc {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #4a4844;
}
/* * registerWith */
.register-with-header {
  padding: 50px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-with-content {
  width: 40%;
}
.register-with-content h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #f1a002;
}
.register-with-content p {
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #f1a002;
}
.with-icons {
  list-style: none;
  padding-right: 35px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.with-btn {
  padding: 13px 20px;
  margin: 15px 0;
  width: 75%;
  border-radius: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.with-desc {
  position: relative;
}
.with-desc::before {
  content: "";
  position: absolute;
  width: 275px;
  height: 1px;
  right: -54px;
  top: 55px;

  background-color: #f1a002;
}
.with-desc::after {
  content: " ";
  position: absolute;
  width: 275px;
  height: 1px;
  left: -54px;
  top: 55px;

  background-color: #f1a002;
}
/* *Forgot password */
.forgot-password-desc {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #363636 !important;
  /* padding: 20px 0 !important; */
}
/* *code verification */
.code-verification-content {
  margin-top: 75px !important;
  margin-bottom: 300px !important;
}
.code-verification-input {
  padding: 15px 0;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #363636;
  border: #e5e5e5 2px solid;
  -moz-appearance: textfield;
  text-align: center;
}
.code-verification-input::-webkit-outer-spin-button,
.code-verification-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.code-verification-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #4a4844;
}
.code-verification-input:focus {
  outline: 2px solid #f1a002;
}
.code-verification-desc {
  text-align: center;
  padding: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363636;
}
.code-verification-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-decoration-line: underline;
}
/* * product details */
.product-details-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;

  letter-spacing: 0.05em;

  color: #363636;
}
.product-num-review {
  padding-top: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #646464;
}
.rating-product {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.66);
}
.product-price-before {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #9f9f9f;
}
.product-price-after {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
.product-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147.19%;
  /* or 26px */
  padding-bottom: 25px;
  color: #646464;
  border-bottom: 1px solid rgba(100, 100, 100, 0.66);
}
.product-code,
.product-category,
.product-tags {
  padding: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.product-tags {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.66);
}
.product-btns {
  /* padding: 2px 0; */
  display: flex;
  width: 35%;
  /* align-items: center; */
  border: 1px solid #f1a002;
  border-radius: 10px;
}
.product-btns button {
  flex: 1;
}
.product-btns button:focus {
  box-shadow: none;
}
.quantity {
  border-left: 1px solid #f1a002;
  border-right: 1px solid #f1a002;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 30%; */
  flex: 1;
}
.product-add-to-cart button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 25px;
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.desc-circle-icon {
  width: 26.88px;
  height: 26.88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product-description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 146.19%;
  color: #646464;
}
.product-description-list {
  padding-left: 95px;
}
.product-description-list li {
  padding: 15px 0;
}
.size-guide-image {
  margin-left: 10px;
  margin: 20px 0 20px 20px;
}
.related-products-title {
  position: absolute;
  margin-top: 25px;
  z-index: 1000;
}
/* *table */
.table {
  border: 1px solid #a0a0a0;
  /* margin-left: 95px; */
  margin: 70px 0 70px 95px;
}

.table th,
.table td {
  border-bottom: none;
  border-right: 1px solid #a0a0a0;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.table-tr {
  background-color: #f4f4f4;
}
.table-head {
  width: 816px;
  height: 74px;
  background: #e9e9e9;
  border-bottom: 1px solid #000000;
}

.table-body {
  width: 816px;
  height: 332px;
}
/* * product reviews  */
.product-reviews {
  padding: 60px 0 60px 25px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.66);
}
.product-reviews-line {
  width: 1px;
  height: 64px;
  margin-top: 5px;
  background-color: #a2a1a1;
}
.product-reviews-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}
.product-reviews-date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #bdbdbd;
}
.product-reviews-heading {
  width: 531px;
}
.product-reviews-confirmed {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #bdbdbd;
}
.product-reviews-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147.19%;
  color: #646464;
}
.reviews-circle-icon {
  width: 23.33px;
  height: 23.33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.product-reviews-image {
  width: 75px;
  height: 75px;
}
.product-reviews-rating {
  margin: -16px 0px 0px 0px;
}
.add-review {
  /* width: 1440px; */
  height: 630px;
  background: rgba(248, 248, 248, 0.84);
}
.add-review-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.add-review-input {
  height: 87px;
  padding-left: 40px;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 20px;
  border: none;
}

.add-review-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 128.69%;

  letter-spacing: 0.1em;

  color: #bdbdbd;
}
.add-review-input:focus {
  outline: none !important;
  border: 1px solid #f1a002;
}
.add-review-text {
  height: 178px !important;
  padding-top: 30px;
}
.add-review-btn {
  border: none;
  width: 163px;
  height: 50px;
  background-color: #f1a002;
  color: white;
  border-radius: 10px;
}
/* * Cart */
.cart-heading {
  height: 62px;
  background: #f1a002;
  display: flex;
  align-items: center;
}
.cart-heading-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 19px;
}
.product-cart {
  padding: 70px 0;
  border-bottom: 1px solid rgba(100, 100, 100, 0.66);
}
.product-cart-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
.product-cart-code,
.product-cart-category,
.product-cart-size {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.product-cart-price {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.product-cart-btns {
  border: 1px solid #f1a002;
  border-radius: 10px;
  width: 60%;
}
.product-cart-btns button {
  padding: 11px 0;
  flex: 1;
  border: none;
  /* background-color: red; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-cart-btns button:focus {
  box-shadow: none;
}
.quantity-cart {
  border-left: 1px solid #f1a002;
  border-right: 1px solid #f1a002;
  /* padding: 9px; */
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 30%; */
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #f1a002;
}
.cart-totals {
  margin: 40px 0;
  padding: 40px 50px;
  height: 328px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
.cart-totals-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;

  letter-spacing: 0.05em;

  color: #363636;
}
.cart-totals-content h3 {
  padding-left: 12px;
  padding-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
.cart-totals-content p {
  padding: 10px 0 10px 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147.19%;
  /* or 26px */

  color: #646464;
}
.cart-totals-btn {
  background-color: transparent;
  width: 163px;
  height: 50px;
  border: 1px solid #f1a002;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #f1a002;
  border: 1px solid #f1a002;
  border-radius: 10px;
}
.cart-checkout {
  padding: 30px 30px 0 0;
}
.cart-checkout h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}
.cart-checkout-btn {
  margin: 20px 0;
  width: 310px;
  height: 50px;

  /* main */
  border: none;
  background: #f1a002;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}
.cart-checkout-line {
  background-color: #000000;
  width: 227px;
  height: 1px;
  margin-left: 100px;
}
/* *billing details */
.billing-details-form label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 20px;
  color: #000000;
}
.billing-details-input {
  height: 60px;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px 20px;
}
.billing-details-input:focus {
  outline: none !important;
  border: 1px solid #f1a002;
}
.billing-details-input::-webkit-outer-spin-button,
.billing-details-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.billing-details-textarea {
  height: 172px !important;
}
.billing-details-btn {
  width: 343px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.billing-details-form select {
  width: 100%;
  height: 60px !important;
  border: 1px solid #a0a0a0 !important;
  margin-bottom: 40px !important;
  padding-left: 10px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.billing-details-form select:focus {
  box-shadow: 0 0 0 1px #f1a002 !important;
}
/* * Wishlist */
.wishlist-close-btn,
.wishlist-add-cart {
  border: none;
}
.wishlist-close-btn {
  background-color: transparent;
}
.wishlist-add-cart {
  width: 163px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
/* *payment */
.payment-desc {
  padding: 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.075em;
  color: #0a0d13;
}
.payment-inputs {
  width: 206px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.payment-input-radio[type="radio"] {
  margin-right: 5px;
  margin-top: 1px;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  width: 18px;
  height: 18px;
  border: 2px solid #acacac;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.payment-input-radio[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f1a002;
}

.payment-input-radio[type="radio"]:checked::before {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.payment-input-radio[type="radio"]:checked {
  border: 2px solid #f1a002;
  color: #0a0d13;
}
.inputs-hading .payment-input-radio[type="radio"]:checked + label {
  color: #0a0d13;
}
.form-check-label {
  margin-bottom: 10px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #acacac;
}
/*  * footer */
footer {
  background-color: #f4f4f4;
}
.footer-line {
  border-top: 2px solid rgba(58, 58, 58, 0.1);
}
.footer-input {
  width: 100%;
  padding: 15px 5px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer-input::placeholder {
  color: #d6d6d6;
}

.footer-top {
  padding: 100px 0;
}
